.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--background);
}

.form {
  background-color: var(--white);
  border: 1px solid var(--input-border);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 280px;
}

.title {
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 1rem;
}

.label {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  font-weight: 600;
  color: var(--black);
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  font-size: 1rem;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input:focus {
  border-color: var(--input-border-focus);
  outline: none;
  box-shadow: 0 0 6px var(--light-green);
}

.passwordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 0.9rem;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.button {
  padding: 0.8rem;
  background-color: var(--button-bg);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

.register {
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray);
}

.registerLink {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.registerLink:hover {
  color: var(--link-hover);
  text-decoration: underline;
}
