.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--background);
}

.form {
  background-color: var(--white);
  border: 1px solid var(--input-border);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 280px;
}

.title {
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 1rem;
}

.label {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  font-weight: 600;
  color: var(--black);
  margin: 1rem 0;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  font-size: 1rem;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input:focus {
  border-color: var(--input-border-focus);
  outline: none;
  box-shadow: 0 0 6px var(--light-green);
}

.button {
  padding: 0.8rem;
  background-color: var(--button-bg);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

.login {
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray);
}

.loginLink {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.loginLink:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.error {
  color: var(--error-color, #ff0000);
  font-size: 0.9rem;
  text-align: center;
}

.success {
  color: var(--success-color, #00ff00);
  font-size: 0.9rem;
  text-align: center;
}

.message {
  font-size: 0.9rem;
  text-align: center;
  color: var(--gray);
}

.passwordRequirements {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.passwordRequirements h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.passwordRequirements ul {
  list-style: disc;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #555;
}

.passwordRequirements ul li {
  margin-bottom: 0.5rem;
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
  .form {
    padding: 1.5rem;
    gap: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .label {
    font-size: 0.9rem;
  }

  .input {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .passwordRequirements {
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  .passwordRequirements ul {
    font-size: 0.85rem;
  }

  .login {
    font-size: 0.8rem;
  }

  .message {
    font-size: 0.8rem;
  }
}

/*Loader styles*/
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: var(--gray);
  border-radius: 50%;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0px;
  margin: auto;
  background: var(--light-green);
  animation: crlMugLoader 2s linear infinite alternate;
}
@keyframes crlMugLoader {
  0%,
  10% {
    transform: translateY(64px);
  }
  90%,
  100% {
    transform: translateY(0px);
  }
}
