.divContainerSUForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--white), #e7ebf0);
  padding: 2rem;
}

.containerSUForm {
  background-color: var(--white);
  border: 1px solid #ddd;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
}

.signUpTitleSUForm {
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 1rem;
}

.alreadyAccountTextSUForm {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.signInLinkSUForm {
  color: var(--strong-green);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signInLinkSUForm:hover {
  color: var(--light-green);
  text-decoration: underline;
}

.inputsContainerSUForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.emailLabelSUForm,
.firstNameLabelSUForm,
.lastNameLabelSUForm,
.ageLabelSUForm,
.passwordLabelSUForm {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0.1rem;
}

.emailInputSUForm,
.firstNameInputSUForm,
.lastNameInputSUForm,
.ageInputSUForm,
.passwordInputSUForm {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.emailInputSUForm:focus,
.firstNameInputSUForm:focus,
.lastNameInputSUForm:focus,
.ageInputSUForm:focus,
.passwordInputSUForm:focus {
  border-color: var(--strong-green);
  outline: none;
  box-shadow: 0 0 5px var(--light-green);
}

.buttonSUForm {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--strong-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonSUForm:hover {
  background-color: var(--light-green);
}
