/* Main Container */
.friendsPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
/* Title */
.title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.highlight {
  color: var(--light-green);
  font-weight: bold;
}
.notHighlight {
  color: var(--strong-green);
  font-weight: 500;
}

/* Friends List */
.friendsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
  margin: 0 auto;
}

.friendCard {
  background-color: var(--gray);
  color: var(--white);
  border-radius: 16px;
  padding: 24px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.friendSince {
  font-size: 1rem;
  margin-top: 12px;
  color: var(--gray-light);
}

/* No Friends */
.noFriends {
  text-align: center;
  font-size: 1.2rem;
  color: var(--light-gray);
  margin-top: 20px;
}

/* Add Friend Button */
.addFriendButton {
  display: block;
  padding: 14px 28px;
  margin: 40px auto 0;
  background-color: var(--strong-green);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addFriendButton:hover {
  background-color: var(--light-green);
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: var(--white);
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.emailInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
}

/* Modal Actions */
.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalActions button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modalActions button:first-child {
  background-color: var(--strong-green);
  color: var(--white);
}

.modalActions button:first-child:hover {
  background-color: var(--light-green);
}

.modalActions button:last-child {
  background-color: var(--gray-light);
  color: var(--black);
}

.modalActions button:last-child:hover {
  background-color: var(--gray-dark);
}

/* User Details */
.userDetails {
  text-align: center;
}
