/* Contenedor principal del Header */
.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Margen interno para espacio */
  background-color: #f2f9f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea separadora */
  width: 100%;
  min-width: 100vw;
}

/* Contenedor del logo */
.headerNavbarLogoContainer {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espaciado entre elementos */
}

/* Logo */
.headerNavbarLogo {
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease;
}

.headerNavbarLogo:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}

.headerNavbarLogoContainer:active .headerNavbarLogo {
  animation: logoPulse 0.5s;
}

@keyframes logoPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* Título del Header */
.headerTitle {
  font-size: 42px;
  color: #1a202c; /* Tono oscuro moderno */
  text-transform: uppercase; /* Mayúsculas para destacar */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sutil sombra */
  transition: color 0.3s ease-in-out;
}

.headerTitle:hover {
  color: #248232; /* Color destacado al hover */
  cursor: pointer;
}

.menuButton {
  display: none; /* Oculto por defecto en desktop */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .menuButton {
    display: block; /* Visible en mobile */
  }

  .headerNavbarLogo {
    display: none; /* Oculta el logo en mobile */
  }

  .headerTitle {
    font-size: 24px; /* Reduce el tamaño del título en mobile */
  }
}
