@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #040f0f;
  --gray: #2d3a3a;
  --light-green: #2ba84a;
  --strong-green: #248232;
  --white: #fcfffc;
  --background: linear-gradient(to bottom right, var(--white), #f0f4f8);
  --input-border: #ccc;
  --input-border-focus: var(--strong-green);
  --button-bg: var(--strong-green);
  --button-bg-hover: var(--light-green);
  --link-color: var(--strong-green);
  --link-hover: var(--light-green);
}

* {
  box-sizing: border-box;
}
html {
  background-color: var(--white);
}
