/* Contenedor externo centrado */
.divContainerRPForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--white),
    #e7ebf0
  ); /* Fondo con gradiente */
}

/* Contenedor principal del formulario */
.containerRPForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  padding: 2rem;
  gap: 0.9rem;
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más marcada */
}

/* Título principal */
.titleRPForm {
  font-size: 2rem; /* Tamaño ligeramente mayor */
  font-weight: bold;
  color: var(--black); /* Color primario oscuro */
  text-align: center;
}

/* Descripción */
.descriptionRPForm {
  font-size: 0.9rem; /* Tamaño un poco mayor */
  color: var(--black);
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Etiquetas */
.labelRPForm {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

/* Inputs */
.inputRPForm {
  padding: 0.75rem; /* Más espacio para el texto */
  border: 1px solid;
  border-radius: 6px;
  font-size: 1rem;
  background-color: var(--white);
  transition: border-color 0.2s;
}

.inputRPForm:focus {
  border-color: var(--strong-green);
  outline: none;
  box-shadow: 0px 0px 4px var(--light-green); /* Sombra de foco */
}

/* Botón */
.buttonRPForm {
  padding: 0.875rem; /* Botón ligeramente más grande */
  background-color: var(--strong-green);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1.125rem; /* Texto más grande */
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.buttonRPForm:hover {
  background-color: var(--light-green);
}

.redirectMessage {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.linkToSignIn {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}

.linkToSignIn:hover {
  color: #0056b3;
}
