.invitationsContainer {
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
}

.h2 {
  font-size: 1.5rem;
  color: var(--black);
  border-bottom: 2px solid var(--light-green);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.groupInvitationsContainer,
.projectInvitationsContainer,
.friendInvitationsContainer {
  margin-bottom: 2rem;
}

.invitationDetail {
  background-color: var(--white);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.invitationDetail p {
  margin: 0.5rem 0;
  color: var(--gray);
}

.invitationDetail button {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

.invitationDetail button:hover {
  background-color: var(--strong-green);
}

.invitationDetail button:last-child {
  background-color: var(--gray);
}

.invitationDetail button:last-child:hover {
  background-color: var(--black);
}

.p {
  font-size: 1rem;
}

.acceptDeclineButtons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 600px) {
  .invitationsContainer {
    padding: 1rem;
  }

  .h2 {
    font-size: 1.2rem;
  }

  .invitationDetail button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .invitationDetail p {
    font-size: 0.9rem;
  }
}

.responsiveInvitation {
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 280px) {
  .responsiveInvitation {
    margin: 5px 0;
  }
}
