.card {
  border: 1px solid var(--gray);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  cursor: pointer; /* Facilita la percepción de interactividad */
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.02); /* Animación suave */
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-green);
}

.cardTitle {
  font-size: 1.4rem; /* Título más destacado */
  font-weight: 600;
  color: var(--gray);
}

.cardContent {
  padding: 16px;
}

.badgeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 8px; /* Separación entre badges */
}

.badge {
  padding: 6px 12px; /* Badge más espacioso */
  border-radius: 4px;
  font-size: 0.9rem; /* Tamaño ligeramente mayor */
  display: inline-flex; /* Permite añadir iconos fácilmente */
  align-items: center;
  gap: 4px; /* Espacio entre el texto y el icono */
}

.groupBadge {
  background-color: rgba(var(--strong-green-rgb), 0.1);
  color: var(--strong-green);
}

.individualBadge {
  background-color: rgba(var(--light-green-rgb), 0.1);
  color: var(--light-green);
}

.roleBadge {
  border: 1px solid var(--gray);
  color: var(--gray);
}

.button {
  display: block;
  width: 100%;
  padding: 10px 16px; /* Botón ligeramente más grande */
  background-color: var(--white);
  color: var(--strong-green);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--strong-green);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}

.button:hover {
  background-color: var(--strong-green);
  color: var(--white);
  transform: scale(1.02); /* Pequeña animación al hover */
}

.cardClickable {
  cursor: pointer; /* Indicador de interactividad */
}

.cardClickable:hover {
  background-color: var(--light-gray); /* Sutil cambio de fondo al hover */
}
